.switch {
    display: inline-block;
    padding: 50px;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    text-indent: -150%;
    color: transparent;
    user-select: none;
}

.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    background-image: url("./img/Neymar.png");
    background-size: cover;    
    width: 250px;
    height: 400px;
    border-radius: 15px;
    scale: 1;
    -webkit-transition: background-image 0.25s ease;
    transition: background-image 0.25s ease;
}

.switch-input:checked + .switch-label::before {
    background-image: url("./img/card-question.png");
    scale: 1.2;
}